
@font-face {
    font-family: fontForWebsiteHeading;
    src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-bold.otf);
}

body{
    height:100%;
}

body > #color-section{
    font-family: fontForWebsiteHeading;
    margin:auto;
    border-top:1px solid black;
    border-bottom:1px solid black;
    background-color: rgb(243, 74, 41);
    height:200px;
}

body > #color-section > h1{
    width:70%;
    padding-top:30px;
    font-size:35px;
    margin:auto;
}