#header > div{
    background-color: #ebda9e;
    height:10px;
}

#header > #menu{
    display: flex;
    position: relative;
}

#header > #menu > h1{
    font-family: fontForWebsiteHeading;
    margin-left:120px;
    margin-top:20px;
    font-size:60px;
}

#header > #menu ul{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    position: absolute;
    right:300px;
    top:27px;
}

#header > #menu li{
    padding-right:15px;
    font-family: fontForMenuItems;
}

#header > #menu a{
    text-decoration: none;
    color:black;
}

@font-face {
    font-family: fontForWebsiteHeading;
    src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-black.otf);
}

@font-face {
    font-family: fontForMenuItems;
    src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-bold.otf);
}

#header > #breadcrumbs{
    background-color: white;
    margin-top:115px;
}
#header > #breadcrumbs > hr{
    margin-top:40px;
    background: black;
    height:0.1px;
}