#header > #bar-at-top{
    background-color: #ebda9e;
    height:18px;
}

#header{
    width: 100%;
}

#header > #menu{
    display: flex;
    width:70%;
    height:130px;
    margin:auto;
}

#header > #menu > h1{
    font-family: fontForWebsiteHeading;
    margin:auto;
    width:80%;
    font-size:60px;
}

#header > #breadcrumbs{
    padding:20px;
    width:70%;
    margin:auto;
}

#header > #breadcrumbs > span{
    font-family: fontForBreadcrumbs;
}

#header hr{
    background-color: black;
    height: 0.0312em;
    margin-bottom:0px;
}

#header > #menu ul{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    width:20%;
    margin:auto;
}

#header > #menu li{
    padding-top:17px;
    padding-right:40px;
    font-family: fontForMenuItems;
}

#header > #menu a{
    text-decoration: none;
    color:black;
}

@font-face {
    font-family: fontForWebsiteHeading;
    src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-black.otf);
}

@font-face {
    font-family: fontForMenuItems;
    src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-bold.otf);
}

@font-face {
    font-family: fontForBreadcrumbs;
    src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-light.otf);
}
