#image_panel{
    position: relative;
}

#bfi{
    width:100%;
    height:790px;
    object-fit: cover;
}

#image_panel div{
    position: absolute;
    top:65%;
    left:16%;
}

#image_panel div p{
    color:white;
    font-family: fontForHeading;
    font-size:40px;
    margin-bottom:0px;
}

#image_panel div #viewBtn{
    background-color: yellow;
    font-family: fontForButton;
    font-size:20px;
    width:40%;
    padding:10px;
    color:black;
    text-align: center;
}

#beforeMarquee{
    font-family:fontForHeading;
    border-top:1px solid black;
    border-bottom:1px solid black;
    margin:0px;
    background-color: orange;
    padding:25px 40px; 
}


.marquee {
  width: 100%;
  display:flex;
  justify-content:flex-start;
  overflow: hidden;
}

.marquee_content{
  font-size:30px;
  margin:0px;
  border-collapse: collapse;
  font-family: fontForMarquee;
  background-color: black;
  color:white;
  white-space: nowrap;
  animation:move-rtl 20s linear infinite;
}

@keyframes move-rtl {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translate(-100%);
  }
}


div + h2{
    font-family: fontForHeading;
    font-size:40px;
    width:80%;
    margin:40px auto auto auto;
}

.image_element{
  border-bottom:1px solid black;
  padding-right:200px;
}

.image_element h3{
  font-family: fontForButton;
  font-size:25px;
}

.image_element p{
  font-family:fontForText;
  font-size:18px;
}

.row{
  display:flex;
  justify-content: space-between;
  width:80%;
  margin:auto;
}

#newsletter_home{
  background-color:rgb(10, 149, 149);
  width:80%;
  margin:auto auto 40px auto;
  padding:60px 0px;
}

#newsletter_home p{
  font-family:fontForText;
  font-size:18px;
  width:80%;
  margin:8px auto auto auto;
}

#newsletter_home > h2{
  font-family:fontForHeading;
  font-size:35px;
  width:80%;
  margin:auto;
}

form{
  width:80%;
  margin:auto;
}
form #email{
  border:none;
  margin:0px;
  height:40px;
  width:500px;
}
form #submit{
  border:none;
  color:white;
  background-color: black;
  margin:0px;
  height:40px;
  width:150px;
  font-family: fontForButton;
}

@font-face {
  font-family: fontForText;
  src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-thin.otf);
}


@font-face {
  font-family: fontForHeading;
  src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-extrabold.otf);
}

@font-face {
  font-family: fontForButton;
  src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-semibold.otf);
  border:0px;
}

@font-face {
  font-family: fontForMarquee;
  src: url(../fonts/Demo-Arpona/Fontspring-DEMO-arpona-bold.otf);
  border:0px;
}
